@charset 'utf-8';

/* banner section */
.banner{position:relative;}
.banner_txt{position:absolute;left:90px;top:70px; }
.banner_txt h1{font-size:70px; font-weight:bold; color:white;}
.banner_txt p{margin:20px;font-size:28px; font-weight:bold; color:white;}
.banner_txt p:first-of-type{margin-top:100px;}
.banner:hover .pop_up{display:block;}
