@charset 'utf-8';

.game_news{display:none; position:fixed; width:100%; height:100%; z-index:5; background:rgba(0,0,0,0.5);}
        .news_box{padding:10px;border:2px solid black;
            width:800px;position:fixed;left:50%;top:50%;background:white; transform: translate(-50%,-50%);}
        .news_box h2{font-size:32px; font-weight:bold; color:#2e9a45; margin-bottom:30px;}
        .news_box p{cursor: pointer;float:right; margin-top:-60px;width:18px; height:20px; border:1px solid #333; text-align: center;}
        .news_box>ul>li{float:left; width:50%; text-align: center; }
        .news_box h3{margin:10px 0; font-size:20px;}


        .game_market{display:none; position:fixed; width:100%; height:100%; z-index:5; background:rgba(0,0,0,0.5);}
        .market_box{padding:10px;border:2px solid black;
            width:800px;position:fixed;left:50%;top:50%;background:white; transform: translate(-50%,-50%);}
        .market_box h2{font-size:32px; font-weight:bold; color:#0071bc; margin-bottom:30px;}
        .market_box p{cursor: pointer;float:right; margin-top:-60px;width:18px; height:20px; border:1px solid #333; text-align: center;}
        .market_box>ul>li{float:left; width:25%; text-align: center; }
        .market_box h3{margin:10px 0; font-size:14px;}
        .market_box h4{font-size:12px;}


        .game_calender{display:none; position:fixed; width:100%; height:100%; z-index:5; background:rgba(0,0,0,0.5);}
        .calender_box{padding:10px;border:2px solid black;
            width:800px;position:fixed;left:50%;top:50%;background:white; transform: translate(-50%,-50%);}
        .calender_box h2{font-size:32px; font-weight:bold; color:#2e9a45; margin-bottom:20px;}
        .calender_box p{cursor: pointer;float:right; margin-top:-60px;width:18px; height:20px; border:1px solid #333; text-align: center;}
        .calender_box img{width:100%; margin-bottom:30px;}


        .game_video{display:none; position:fixed; width:100%; height:100%; z-index:5; background:rgba(0,0,0,0.5);}
        .video_box{padding:10px;border:2px solid black;
            width:800px;position:fixed;left:50%;top:50%;background:white; transform: translate(-50%,-50%);}
        .video_box h2{font-size:32px; font-weight:bold; color:#0071bc; margin-bottom:30px;}
        .video_box p{cursor: pointer;float:right; margin-top:-60px;width:18px; height:20px; border:1px solid #333; text-align: center;}
        .video_box>ul>li{float:left; width:50%; text-align: center; }
        .video_box h3{margin:10px 0; font-size:20px;}